# Mac stuff
.DS_Store

data/*
!data/.gitkeep
public/downloads/*
public/css/style.css
/credentials.*

# Node stuff
node_modules/
npm-debug.log
nohup.out
logs/*

# Include
!.gitkeep

/config/runtime.json
