//- Global template vars
- var date = new Date();
- var cachebust = '?'+date.getHours()+''+date.getDate();

doctype 5
html
	head
		meta(charset='UTF-8')
		meta(http-equiv='Content-Language', content='en')
		meta(name='author', content='The Workers London Ltd.')
		
		//- Apple - http://developer.apple.com/library/safari/#documentation/AppleApplications/Reference/SafariHTMLRef/Articles/MetaTags.html
		meta(name='viewport', content='width=device-width', id='meta-viewport')
		meta(name='apple-mobile-web-app-capable', content='yes')
		meta(name='apple-mobile-web-app-status-bar-style', content='black')
		meta(name='format-detection', content='telephone=no')

		//- Windows 8 (TileImage should be 144px)
		meta(name='application-name', content='The Workers')
		meta(name='msapplication-TileColor', content='#515254')
		meta(name='msapplication-TileImage', content='apple-touch-icon-144x144-precomposed.png')
		
		//- Google
		meta(name="google-site-verification", content="5ED_CojmDIY-Vcu9E1gJf1NpFzlENz7x9wzlyBp-abw")
		meta(name="google", content="notranslate")
		
		block title
			- var pageTitle = (typeof title !== 'undefined') ? title + ' — Sidekick Creatives' : 'Sidekick Creatives'
			title Sidekick Creatives

		block description
			- var pageDescription = (typeof description !== 'undefined') ? description : 'Sidekick Creatives supports creative projects to be successfully launched on crowdfunding platforms.';
			meta(name='description', content=pageDescription)

		block stylesheets
			link(rel='stylesheet', type='text/css', href='/css/reset.css')
			link(rel='stylesheet', type='text/css', href='/css/style.css' +cachebust)

		block headScripts
			include includes/liveReload.jade
			script(src='/js/lib/html5shiv-printshiv.js' +cachebust)
	

	body
		header
			h1 Sidekick Creatives
			div.logo
			block header

		div#main
			block content

		footer
			p.hidden Website by 
				a(href='//theworkers.net/', title='The Workers') The Workers.
			block footer

		block bodyscripts
			include includes/analytics.jade
			script(src='/js/lib/jquery-1.9.1.js' +cachebust)
