//- Global template vars
- var date = new Date();
- var cachebust = '?'+date.getHours()+''+date.getDate();

doctype 5
html
	head
		meta(charset='UTF-8')
		meta(http-equiv='Content-Language', content='en')
		meta(name='author', content='The Workers London Ltd.')

		title= title ? title + ' — Sidekick Creatives' : 'Sidekick Creatives'
		meta(name='description', content=description || 'Sidekick Creatives supports creative projects to be successfully launched on crowdfunding platforms.')
		
		//- Apple - http://developer.apple.com/library/safari/#documentation/AppleApplications/Reference/SafariHTMLRef/Articles/MetaTags.html
		meta(name='viewport', content='width=device-width', id='meta-viewport')
		meta(name='apple-mobile-web-app-capable', content='yes')
		meta(name='apple-mobile-web-app-status-bar-style', content='black')
		meta(name='format-detection', content='telephone=no')

		//- Windows 8 (TileImage should be 144px)
		meta(name='application-name', content='The Workers')
		meta(name='msapplication-TileColor', content='#515254')
		meta(name='msapplication-TileImage', content='apple-touch-icon-144x144-precomposed.png')
		
		//- Google
		meta(name="google-site-verification", content="5ED_CojmDIY-Vcu9E1gJf1NpFzlENz7x9wzlyBp-abw")
		meta(name="google", content="notranslate")

		link(rel='stylesheet', type='text/css', href='/css/reset.css')
		link(rel='stylesheet', type='text/css', href='/css/style.css' +cachebust)

		include includes/liveReload.jade
		script(src='/js/vendor/html5shiv-printshiv.js' +cachebust)
		block headScripts

	body
		div#main
			header
				h1.logo: span.hidden Sidekick Creatives
			block content

		footer
			p.hidden Website by 
				a(href='//theworkers.net/', title='The Workers') The Workers.
			block footer

		block bodyscripts
			include includes/analytics.jade
			script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js')
			script window.jQuery || document.write('<script src="/js/vendor/jquery-1.10.2.min.js"><\/script>')
			//- script(src='//cdnjs.cloudflare.com/ajax/libs/numeral.js/1.5.2/numeral.min.js')
			//- script window.jQuery || document.write('<script src="/js/vendor/numeral.min.js"><\/script>')
			script(src='//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.2/raphael-min.js')
			script window.Raphael || document.write('<script src="/js/vendor/raphael.js"><\/script>')
			script(src='/js/vendor/jquery.slides.min.js' +cachebust)
			script(src='/js/vendor/imagesloaded.pkgd.js' +cachebust)
			script(src='/js/lib/Stats.js' +cachebust)
			script(src='/js/index.js' +cachebust)
