@black: rgb(53,51,51);
@grey: rgb(128, 128, 128);
@lineHeight: 30px;
@fontFamily: 'Helvetica', 'Arial','Nimbus Sans L','AvenirNextCondensed-Medium',sans-serif;
@fontSize: 20px;
@smallFont: 14px;
@verticalMargin: 40px;

* {
	box-sizing: border-box;
}

html {
	-webkit-text-size-adjust: none;
}

body {
	font-family: @fontFamily;
	font-size: @fontSize;
	line-height: @lineHeight;
	letter-spacing: 1px;
	color: @black;
}

.ibc {
	line-height: 0;
	letter-spacing: -4px;
}

.ib {
	vertical-align: text-top;
	display: inline-block;
	line-height: 1em;
	letter-spacing: initial;
	white-space: normal;
}


header,
section,
footer {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}

header {
	padding-top: @verticalMargin;
}

a {
	text-decoration: none;
	color: @black;
	padding-bottom: 1px;
	border-bottom-width: 2px;
	border-bottom-color: @black;
	border-bottom-style: solid;
}

#main {
	position: relative;
}

#index {
	position: absolute;
	width: 100%;
	padding-bottom: 0;
	// top:0;
	z-index: 1000;
	background-color: white;
}

#highlights {
	margin-top: 100px;
}


.nav-menu {
	height: 100px;
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 40px;
	text-align: center;
	border-bottom-style: solid;
	border-bottom-color: black;
	border-bottom-width: 2px;
}

.nav-menu-item {
	display: inline;
	margin-left: 10px;
	margin-right: 10px;
	a {
		border-bottom: none;
	}
}

.hidden {
	display: none;
}

.logo {
	width: 758px/2;
	height: 230px/2;
	margin-left: auto;
	margin-right: auto;
	background-repeat: no-repeat;
  -webkit-background-size: 100% 100%;
     -moz-background-size: 100% 100%;
       -o-background-size: 100% 100%;
          background-size: 100% 100%;
	background-repeat: no-repeat;
	background-image: url('/img/logo.png');
}


.card {
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	color: white;
	background-color: rgb(0,77,251);

	.title {
		text-align: center;
		padding-top: 10px;
		padding-bottom: 10px;
		border-bottom-width: 2px;
		border-bottom-style: solid;
		border-bottom-color: white;
	}
}

.stats {
	font-size: @smallFont;
	padding-top: 20px;
	padding-bottom: 20px;
	white-space: nowrap;

	.backers,
	.pledges,
	.days-remaining,
	.back-project {
		padding-left: 20px;
		padding-right: 20px;
	}

	.graph {
		margin-bottom: 20px;
		width:  200px;
		height: 200px;
	}

	.caption {
		width: 100%;
		text-align: center;
	}

	.backers .graph {
		color: white;
		border-width: 3px;
		border-style: solid;
		border-color: white;
		border-radius: 20px;
		.text {
			margin-left: 20px;
			margin-right: 20px;
		}
	}

	.pledges .graph {
		border-width: 3px;
		border-style: solid;
		border-color: white;
		background-image: url(/img/stats-dots-white.png);
		.gauge {
			background-color: white;
		}
	}

	.back-project .graph {
		border-width: 3px;
		border-style: solid;
		border-color: white;
		line-height: 190px;
		.text {
			display: inline-block;
			font-size: 68px;
			width: 100%;
			text-align: center;
		}
	}
}

.section-header {
	text-align: center;
	// font-size: 30px;
	font-weight: 800;
	margin-top: 30px;
	padding-top: 20px;
	padding-bottom: 10px;
	border-top-width: 3px;
	border-top-style: solid;
	border-top-color: black;
}

.paragraph-wide {
	width: 960px;
	padding-left: 60px;
	padding-right: 60px;
}


@media
  only screen and (max-device-width: 1136px) and (min-device-width: 960px) and (device-height: 640px),
  only screen and (max-device-height: 1136px) and (min-device-height: 960px) and (device-width: 640px) {
  /* iPhone only */
  
}

input,
textarea,
keygen,
select,
button,
isindex {
	&:focus {
		outline: none;
	}
	border: none;
  border-radius: 0;
	background-color: transparent;
  -webkit-appearance: none;
	-webkit-user-select: text;
	-webkit-text-size-adjust: none;
	margin: 0;
	padding: 0;
	font-family: @fontFamily;
	font-size: @fontSize;
	letter-spacing: 1px;
	color: @grey;
	display: inline-block;
}

input[type="submit"] {
	cursor: pointer;
	padding-right: 10px;
	padding-left: 10px;
}

input[name="cm-kivt-kivt"] {
	width: 250px;
	padding-bottom: 2px;
	border-bottom-style: solid;
	border-bottom-width: 2px;
}



