/*@-webkit-keyframes someAnimation {
	0% {
		background-color: white;
	}
	50% {
		background-color: red;
	}
	100% {
		background-color: white;
	}
}

.class-name {
	-webkit-animation-name: someAnimation;
	-webkit-animation-duration: 1s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-direction: alternate;
}*/