html {
  -webkit-text-size-adjust: none;
}
body {
  font-family: 'Arial Narrow', 'Nimbus Sans L', 'AvenirNextCondensed-Medium', sans-serif;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 1px;
  color: #353333;
}
header > h1 {
  display: none;
}
header,
section,
footer {
  width: 380px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
  padding-left: 20px;
  padding-right: 20px;
}
a {
  text-decoration: none;
  color: #353333;
  padding-bottom: 1px;
  border-bottom-width: 2px;
  border-bottom-color: #353333;
  border-bottom-style: solid;
}
.inline {
  display: inline-block;
}
.contact,
.facebook,
.twitter {
  text-align: center;
  width: 33%;
}
.contact a,
.facebook a,
.twitter a {
  border-bottom: none;
}
.divider {
  width: 100%;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  margin-bottom: 60px;
  border-style: none;
  height: 2px;
  background-color: #353333;
}
.hidden {
  display: none;
}
input,
textarea,
keygen,
select,
button,
isindex {
  border: none;
  border-radius: 0;
  background-color: transparent;
  -webkit-appearance: none;
  -webkit-user-select: text;
  -webkit-text-size-adjust: none;
  margin: 0;
  padding: 0;
  font-family: 'Arial Narrow', 'Nimbus Sans L', 'AvenirNextCondensed-Medium', sans-serif;
  font-size: 24px;
  letter-spacing: 1px;
  color: #808080;
  display: inline-block;
}
input:focus,
textarea:focus,
keygen:focus,
select:focus,
button:focus,
isindex:focus {
  outline: none;
}
input[type="submit"] {
  cursor: pointer;
  padding-right: 10px;
  padding-left: 10px;
}
input[name="cm-kivt-kivt"] {
  width: 250px;
  padding-bottom: 2px;
  border-bottom-style: solid;
  border-bottom-width: 2px;
}
.logo {
  width: 379px;
  height: 115px;
  margin-top: 60px;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image: url('/static/img/logo.png');
}
.nocollapse {
  min-height: 85px;
}
.campaign-monitor p {
  text-align: center;
}
span.text-micro {
  display: block;
}
.text-micro {
  font-size: 9px;
}
.collapsible {
  height: 0;
  overflow: hidden;
}
.text-body h2 {
  font-weight: 600;
  margin-bottom: 30px;
}
.text-body p {
  margin-bottom: 30px;
}
.description {
  position: relative;
}
p.blurb {
  cursor: pointer;
  margin-bottom: 0;
  position: absolute;
  top: 0;
  left: 0;
}
@media only screen and (max-device-width: 1136px) and (min-device-width: 960px) and (device-height: 640px), only screen and (max-device-height: 1136px) and (min-device-height: 960px) and (device-width: 640px) {
  /* iPhone only */
}
